.intro {
  position: relative;
  padding-top: 60px;
  padding-bottom: 100px;
  color: $color-default-white;

  @include vp-1020 {
    padding-top: 70px;
  }

  &__bg{
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__main {
    position: relative;
  }

  &__big-bonus {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 62px;
    margin-left: 30px;

    img {
      @media (max-width: 1300px) {
        width: 70%;
        height: auto;
      }

      @include vp-1020 {
        width: 74.8%;
      }

      @include vp-640 {
        width: 86%;
      }
    }

    @include vp-1020 {
      margin-top: 41px;
      margin-left: 9px;
    }

    @include vp-640 {
      margin-top: 30px;
    }
  }

  &__logo {
    margin-left: 38px;

    @include vp-1020 {
      margin-left: 3px;
    }
  }

  &__big-bonus-count {
    display: block;
    width: 955px;
    font-style: italic;
    font-weight: 900;
    font-size: 320px;
    line-height: 100%;
    color: transparent;
    background-image: linear-gradient(281.7deg, #96FF09 9.61%, #EBFF00 103.82%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    @media (max-width: 1400px) {
      width: 850px;
      font-size: 280px;
    }

    @media (max-width: 1250px) {
      width: 600px;
      font-size: 200px;
    }
  }

  &__big-bonus-currency {
    display: block;
    font-style: italic;
    font-weight: 900;
    font-size: 147px;
    line-height: 66px;
    color: #96FF09;
    margin-left: 20px;
  }

  &__main-slogan {
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 0;
    font-style: italic;
    font-weight: 700;
    font-size: 64px;
    line-height: 28px;

    @include vp-1020 {
      font-size: 55px;
      line-height: 25px;
      margin-left: 14px;
    }

    @include vp-640 {
      font-size: 35px;
      line-height: 16px;
      margin-left: 7px;
      margin-top: 26px;
    }
  }

  &__main-text {
    width: 38%;
    margin-top: 44px;
    margin-left: 17px;
    font-style: italic;
    font-weight: 700;
    font-size: 34px;
    line-height: 32px;
    color: #D4F76B;

    @include vp-1020 {
      font-size: 29px;
      line-height: 28px;
      margin-left: 10px;
      margin-top: 39px;
    }

    @include vp-640 {
      width: 43%;
      margin-top: 24px;
      margin-left: 5px;
      font-size: 19px;
      line-height: 18px;
    }
  }

  &__img-thunderbolt {
    position: absolute;
    right: -28px;
    top: -55px;

    @include vp-1020 {
      right: -9px;
      top: 31px;
    }

    @include vp-640 {
      right: -14px;
      top: 61px;
    }

    img {
      @include vp-1020 {
        width: 313px;
        height: 690px;
      }

      @include vp-640 {
        width: 203px;
        height: 445px;
      }
    }
  }

  &__bonus-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 5;
  }

  &__bonus-item {
    display: flex;
    min-height: 352px;
    align-items: flex-start;
    flex-direction: column;


    @media (max-width: 1300px) {
      align-items: center;
    }

    @include vp-1020 {
      min-height: 314px;
    }

    @include vp-640 {
      min-height: 181px;
    }

    // .intro__bonus-wrapper {
    //   margin-left: -18px;
    //   margin-bottom: 45px;

    //   @include vp-1020 {
    //     margin-bottom: 75px;
    //   }

    //   @media (max-width: 950px) {
    //     margin-bottom: 55px;
    //   }

      // img {
      //   @media (max-width: 1300px) {
      //     width: 70%;
      //     height: auto;
      //   }

      //   @include vp-1020 {
      //     width: 82%;
      //   }

      //   @media (max-width: 950px) {
      //     width: 77%;
      //   }

      //   @include vp-640 {
      //     width: 91%;
      //   }
      // }
    // }

    // &:nth-of-type(1) {
    //   margin-top: 284px;
    //   width: 420px;

    //   @media (max-width: 1300px) {
    //     margin-top: 26%;
    //   }

    //   @include vp-1020 {
    //     margin-top: 31%;
    //   }

    //   @media (max-width: 950px) {
    //     width: 30%;
    //     margin-top: 36%;
    //   }

    //   @include vp-640 {
    //     margin-top: 45%;
    //   }

    //   .intro__bonus-wrapper {
    //     margin-left: -18px;

    //     @media (max-width: 1300px) {
    //       margin-left: 0;
    //     }

    //     @include vp-640 {
    //       margin-left: -19px;
    //       margin-bottom: 40px;
    //     }
    //   }
    // }

    // &:nth-of-type(2) {
    //   margin-top: 168px;

    //   @media (max-width: 1300px) {
    //     width: 40%;
    //     margin-top: 17%;
    //   }

    //   @include vp-1020 {
    //     margin-top: 21%;
    //   }

    //   @media (max-width: 950px) {
    //     width: 30%;
    //     margin-top: 25%;
    //   }

    //   @include vp-640 {
    //     width: 27%;
    //     margin-top: 32%;
    //   }

    //   .intro__bonus-wrapper {
    //     margin-left: -63px;
    //     margin-bottom: 57px;

    //     @include vp-1020 {
    //       margin-left: -145px;
    //       margin-bottom: 65px;
    //     }

    //     @media (max-width: 950px) {
    //       margin-left: -40px;
    //       margin-bottom: 50px;
    //     }

    //     @include vp-640 {
    //       margin-left: -50px;
    //       margin-bottom: 40px;
    //     }
    //   }

    //   .intro__bonus-signature {
    //     margin-left: -62px;

    //     @media (max-width: 1300px) {
    //       margin-left: 0px;
    //     }

    //     @include vp-1020 {
    //       margin-left: -44px;
    //     }

    //     @media (max-width: 950px) {
    //       margin-left: 0;
    //     }

    //     @include vp-640 {
    //       margin-left: 30px;
    //     }
    //   }

    //   .intro__bonus-text {
    //     width: 44%;

    //     @media (max-width: 1300px) {
    //       width: 50%;
    //     }
    //   }
    // }

    // &:nth-of-type(3) {
    //   margin-top: 47px;
    //   width: 432px;

    //   @media (max-width: 1300px) {
    //     margin-top: 8%;
    //     width: 40%;
    //   }

    //   @include vp-1020 {
    //     margin-top: 13%;
    //   }

    //   @media (max-width: 950px) {
    //     margin-top: 22%;
    //   }

    //   .intro__bonus-wrapper {
    //     margin-left: -57px;
    //     margin-bottom: 57px;

    //     @media (max-width: 1300px) {
    //       margin-left: 0;
    //     }

    //     @include vp-1020 {
    //       margin-left: -37px;
    //       margin-bottom: 68px;
    //     }

    //     @media (max-width: 950px) {
    //       margin-left: 40px;
    //     }

    //     @include vp-640 {
    //       margin-left: 27px;
    //       margin-bottom: 44px;
    //     }

    //     img {
    //       width: 388px;
    //       height: auto;

    //       @media (max-width: 1300px) {
    //         width: 70%;
    //         height: auto;
    //       }

    //       @include vp-1020 {
    //         width: 85%;
    //       }

    //       @media (max-width: 950px) {
    //         width: 67%;
    //       }

    //       @include vp-640 {
    //         width: 77%;
    //       }
    //     }
    //   }

    //   .intro__bonus-signature {
    //     margin-left: -57px;

    //     @media (max-width: 1300px) {
    //       margin-left: 0px;
    //     }

    //     @include vp-1020 {
    //       margin-left: -41px;
    //     }

    //     @media (max-width: 950px) {
    //       margin-left: 40px;
    //     }
    //   }
    // }
  }

  &__bonus-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__bonus-plus {
    display: block;
    font-style: italic;
    font-weight: 700;
    font-size: 109px;
    line-height: 1;
    background: linear-gradient(281.7deg, #96FF09 9.61%, #EBFF00 103.82%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  &__bonus-value {
    display: block;
    font-style: italic;
    font-weight: 700;
    font-size: 200px;
    line-height: 1;
    background: linear-gradient(281.7deg, #96FF09 9.61%, #EBFF00 103.82%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  &__bonus-percent {
    display: block;
    font-style: italic;
    font-weight: 700;
    font-size: 69px;
    line-height: 1;
    background: linear-gradient(281.7deg, #96FF09 9.61%, #EBFF00 103.82%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  &__bonus-signature {
    display: flex;
    align-items: flex-start;
    margin-left: -20px;

    @include vp-1020 {
      margin-left: -3px;
    }

    @media (max-width: 950px) {
      margin-left: -20px;
    }

    @include vp-640 {
      margin-left: -14px;
    }

    img {
      @media (max-width: 1300px) {
        width: 116px;
        height: auto;
      }

      @media (max-width: 900px) {
        width: 72px;
      }
    }
  }

  &__bonus-text {
    width: 48%;
    margin: 0;
    margin-left: 13px;
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    background: linear-gradient(97.82deg, #E1FF67 43.96%, #FBFF3E 123.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    @media (max-width: 1300px) {
      font-size: 27px;
      line-height: 36px;
    }

    @media (max-width: 950px) {
      font-size: 20px;
      line-height: 26px;
    }

    @media (max-width: 850px) {
      font-size: 17px;
      line-height: 23px;
    }

    @include vp-640 {
      position: relative;
      width: 200px;
    }

  }

  &__podium-img {
    position: absolute;
    top: -44px;
    left: -83px;
    width: 1400px;
    height: 722px;

    @media (max-width: 1300px) {
      left: -60px;
      width: 113%;
      height: auto;
    }

    @include vp-1020 {
      top: 72px;
    }

    @include vp-640 {
      left: -100px;
      width: 150%;
    }
  }

  &__rules {
    width: 80%;
    margin: 0 auto;
    z-index: 5;

    @media (max-width: 1300px) {
      width: 95%;
    }

    @include vp-1020 {
      width: 97%;
    }
  }

  &__rules-title {
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 66px;
    text-align: center;

    @include vp-640 {
      margin-top: 10px;
      font-size: 32px;
      line-height: 46px;
    }
  }

  &__rules-list {
    display: flex;
    margin: 0;
    margin-top: 72px;
    padding: 0;
    list-style: none;
    counter-reset: num;

    @include vp-1020 {
      margin-top: 69px;
    }

    @include vp-640 {
      margin-top: 49px;
    }
  }

  &__rules-item {
    position: relative;
    padding-left: 35px;
    padding-right: 70px;
    margin-right: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 29px;

    @include vp-1020 {
      padding-left: 40px;
    }

    @media (max-width: 1010px) {
      font-size: 20px;
      line-height: 24px;
    }

    @media (max-width: 880px) {
      font-size: 17px;
      line-height: 18px;
      padding-left: 30px;
      padding-right: 50px;
    }

    @include vp-640 {
      padding-left: 19px;
    }

    &:before {
      content: counter(num);
      counter-increment: num;
      display: inline-block;
      position: absolute;
      top: 7px;
      left: -17px;
      font-style: normal;
      font-weight: 500;
      font-size: 90px;
      line-height: 40px;
      color: #D4F76B;
      text-align: right;

      @media (max-width: 800px) {
        font-size: 55px;
        line-height: 25px;
      }
    }

    svg {
      position: absolute;
      top: -20px;
      right: 0;
      fill: transparent;

      @media (max-width: 880px) {
        width: 22px;
        height: 57px;
        top: -10px;
      }
    }

    &:nth-of-type(1) {
      width: 48%;

      @include vp-1020 {
        width: 51%;
      }

      @include vp-640 {
        width: 58%;
      }

      svg {
        right: 19px;
      }
    }

    &:nth-of-type(2) {
      width: 51%;

      @include vp-1020 {
        width: 55%;
      }

      @include vp-640 {
        width: 58%;
      }

      svg {
        right: 25px;
      }
    }

    &:last-of-type {
      margin-right: 0;
      padding-right: 0;
    }
  }

  &__button {
    align-self: center;
    margin-top: 67px;
    padding: 18px 33px;
    background: #CCFF66;
    border-radius: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #212121;
    text-align: center;
    z-index: 5;

    @include vp-1020 {
      margin-top: 72px;
    }

    @include vp-640 {
      margin-top: 30px;
    }
  }

  &__link {
    align-self: center;
    margin-top: 43px;
    font-weight: 300;
    font-size: 24px;
    line-height: 35px;
    color: $color-default-white;
    text-decoration: underline;
    transition: color $trans-default;
    z-index: 5;

    @include vp-1020 {
      margin-top: 41px;
    }

    @include vp-640 {
      margin-top: 28px;
      font-size: 16px;
      line-height: 25px;
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        color: #CCFF66;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    margin-top: 88px;
    z-index: 5;

    @include vp-640 {
      margin-top: 57px;
    }

    svg {
      color: #D4F76B;

      @include vp-640 {
        width: 157px;
        height: 29px;
      }
    }
  }
}


