@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Roboto";

  font-display: swap;
  src:
    url("../fonts/Robotolight.woff2") format("woff2"),
    url("../fonts/Robotolight.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto";

  font-display: swap;
  src:
    url("../fonts/Robotomedium.woff2") format("woff2"),
    url("../fonts/Robotomedium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto";

  font-display: swap;
  src:
    url("../fonts/Robotobold.woff2") format("woff2"),
    url("../fonts/Robotobold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "Roboto";

  font-display: swap;
  src:
    url("../fonts/Robotoblack.woff2") format("woff2"),
    url("../fonts/Robotoblack.woff") format("woff");
}

font-face {
  font-style: italic;
  font-weight: 900;
  font-family: "Roboto";

  font-display: swap;
  src:
    url("../fonts/Roboto-BlackItalic.woff2") format("woff2"),
    url("../fonts/Roboto-BlackItalic.woff") format("woff");
}
